{ stdenv, fetchgit }:

stdenv.mkDerivation rec {
  name = "piab-${version}";
  version = "git";

  src = fetchgit {
    url = "file://@piab_path@";
    rev = "refs/heads/master";
    sha256 = "@piab_hash@";
  };

  installPhase = ''
    mkdir "$out"
    cp -R ./* "$out"/
  '';
}
