{ lib, stdenv, fetchgit, pkgs }:

stdenv.mkDerivation rec {
  name = "piab-git";
  version = "git";

  src = fetchgit {
    url = "file://@piab_path@";
    rev = "refs/heads/master";
    sha256 = "@piab_hash@";
  };

	buildPhase =
  with (import ../tests/piglits.nix { inherit lib; inherit pkgs; });
  ''
    ln -s ${piglits.mesa_arb_shader_subroutine} ./tests/piglits/mesa_arb_shader_subroutine
	'';

  installPhase = ''
    mkdir "$out"
    cp -R ./* "$out"/
  '';
}
